ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.tab {
  width: 500px;
  /* border: 1px solid grey; */
  padding: 10px;
  margin: 50px auto;
}
.tab-header li {
  float: left;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.tab-header li:last-of-type {
  border-right: 1px solid grey;
}
.tab-header li.active {
  transition: all 0.3s;
  background: #ddd;
}

.tab-container {
  border: 1px solid grey;
  padding: 10px;
  height: 300px;
}
.tab-container li {
  display: none;
}
.tab-container li.active {
  display: block;
}
